body {
    background-color: #f9e9da;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 0px;
    padding-right: 5px;
    margin: -8px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 10px;
    color: #fff;
}

/* .class-option {
    color: #fff;
} */

.right-section {
    display: flex;
    color: #fff;
}

.nav-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-options li {
    display: inline-block;
    margin-left: 10px;
}

.nav-options li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.nav-options li a:hover {
    background-color: rgb(0, 122, 122);
    border-radius: 5px;
}

#main-section {
    display: flex;
    flex-direction: row;
}

#left-panel {
    width: 17.5%;
    background-color: rgb(173, 80, 3);
    margin-left: -8px;
    height: 800px;
}

#search-bar {
    margin: 12px;
    margin-left: 30px;
    padding-top: 7px;
}

#search-bar input {
    padding: 5px;
}

.left-options {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: white;
}

.left-options a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.left-options a :hover {
    text-decoration: underline;
    color: rgb(141, 64, 1);
}

#right-panel {
    width: 82.5%;
}

#bot {
    background-color: bisque;
    color: rgb(173, 80, 3);
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 3px;
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -3px;
    padding-left: 5px;
}